/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
table {
  width: 100%;
}
.mat-tab-horizontal {
  width: 300px;
}
.app-tab-icon {
  margin-right: 8px;
}
.app-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
.app-small-box, .app-large-box {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.app-small-box {
  height: 400px;
  width: 300px;
}

.app-large-box {
  height: 600px;
  width: 300px;
}

button.btn-submit{
  background-color: #38547b;
  color: #fff;
  width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
  background-color: #38547b;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
  vertical-align: middle !important;
}

/*for tab control*/
.tabs{
  height: 65px;
}
.tabs .tab{
  text-transform : none !important;
  line-height: 65px;
  height: 65px;
}
.tabs .tab a{
  font-size: 25px;
  color: grey !important;
}

.tabs .tab a.active{
  background-color: #fff !important;
}
